.pf-section
    font-weight: 250
    font-size: 1.1rem
    margin: 0 0 4em

.pf-project
    display: block
    width: 100%
    text-decoration: none
    margin: lem 0
    cursor: pointer
    padding: 1px

figure 
    margin: 0
    padding: 0

.pf-project figure img
    width: 100%
    height: 100%
    display: flex
    object-fit: cover

.pf-project figcaption
    padding: lem
    background: #3b70be
    color: #fff

.desc
    color: white
    margin: 0
    padding: 1px

.cta
    margin: .5em 0
    padding: 1px

.pf-project .pf-div
    display: block

@media screen and (min-width: 1600px)
    .pf-wrapper
        max-width: 1600px
        margin: 0 auto

    .pf-wrapper .pf-container
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-gap: 1em

    .pf-project:nth-child(1)
        grid-column: 1 / span 2
        grid-row: 1 / span 2

    .pf-project
        width: 100%
        height: 100%
        text-decoration: none
        margin: 0
        padding: 1px

    .pf-project figure
        position: relative
        overflow: hidden

    .pf-project figure img
        position: relative
        z-index: 999
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
        margin: 0

    .pf-project figure:hover img
        transform: translateY(35px)
        
    .pf-project figcaption
        text-align: center
        position: absolute
        display: block
        left: 0px
        top: 1px
        padding: 0px
        height: 35px
        width: 100%